body {
	font-family: 'Rubik', sans-serif;
}

#page1 {
	background-image: url("../assets/images/mainPage.jpg");
	background-size: cover;
	height: 100vh;
}

#page2 {
	height: 100vh;
	background-color: #F8F8F8;
}

.image-section {
	background-image: url("../assets/images/mainPage2.jpg");
	background-size: cover;
	height: 100vh;
	width: 100%;
}

.page2-info p {
	font-size: 28px;
	padding: 40% 10% 10% 10%;
}

#brand-link {
	text-decoration: none;
}

.brand-logo {
	margin-left: 80px;
	margin-top: 3px;
}

#navbar {
	background-color: #232121;
	height: 70px;
}

.links {
	margin-right: 20px;
	border-radius: 5px;
}

.links:hover {
	background-color: #31CBDA;
	color: white;
	text-decoration: none;
}

.sidebar {
  float: left;
  width: 300px;
  height: 100vh;
  margin-left: -300px;
  transition: 0.7s all;
}

.side {
  margin-left: 0;
}

.sideItems {
 padding: 10px 20px;
 font-size: 20px;
 display: block;
 position: relative;
 cursor: pointer;
}

#first {
	margin-top: 80px;
}

.sideItems:hover {
	background-color: #31CBDA;
	transition: 0.6s all;
}

.sideLinks {
	color: white;
	text-decoration: none;
	margin-left: 50px;
}

.sideLinks:hover {
	text-decoration: none;
	color: white;
}

.sidebar .sideLinks .sideIcons {
	position: absolute;
	font-size: 30px;
}

.sideBtn {
  float: left;
  padding: 3px 25px;
  font-size: 40px;
  text-decoration: none;
  font-family: Ionicons;
  cursor: pointer;
  background-color: transparent;
  color: white;
}

.sideBtn:before {
  content: "\f32a";
  
}

.btnc:before {
  content: "\f2c0";
}

#main-title {
	color: white;
	margin-top: 15%;
	font-size: 105px;
	font-weight: 300;
}


#sub {
	color: white;
	margin-top: 1%;
	font-size: 25px;
	font-weight: 300;
}

#join-us {
	background-color: #31CBDA;
	margin-top: 4%;
	margin-left: 43%;
	height: 70px;
	width: 200px;
	font-size: 27px;
	border-radius: 10px;
	padding-top: 16px;
	font-weight: 500;
	color: white;
	margin-bottom: 15%;
	text-transform: capitalize;
}


#Head {
	font-size: 60px;
	margin: 5% 0%;
	font-weight: 600;
}

.gridViewItem {
	margin-left: 9%;
	margin-right: 6%;
	margin-bottom: 3%;
	display: inline-block;
	margin-top: 5%;
	transition: 0.6s all;	
}

.gridViewInfo {
	margin-top: 5%;
	font-size: 20px;
}

.catName h2{
	font-size: 40px;
	text-align: center;
	margin-top: 190px;
	margin-bottom: 60px;
	font-weight: 500;
}

.catImage {
	height: 800px;
}

.cat-right {
	padding: 30px 10px 10px 10px;
}

.cat-left {
<<<<<<< HEAD
	background-color: #455a64;
	padding: 40px;
}

.imageContainer {
	padding-left: 25%;
=======
	background-color: #212121;
	padding: 30px 10px 10px 10px;
}

.cat-left, .cat-right {
	height: 90vh;
}

#left-data-h2, #left-data-p {
	color: white;
}

.catName p {
	font-size: 21px;
}

#mobile-desc h2 {
	margin-left: 100px;
	margin-top: 45px;
}

#mobile-desc {
	padding: 4% 0 3% 12%;
}

#mobile-spec {
	height: 100vh;
}

#mobile-spec h2 {
	color: white;
	margin: 30% 0 8% 0;

}

.spec-desc {
	color: #cfd8dc;
}

.spec-items {
	padding: 0 10% 1% 15%;
	font-size: 20px;

>>>>>>> 18e8335746c83caaf04121904ed4b20fe277d66f
}